
.colourcard{
    background-image: linear-gradient(45deg,#291571,#4e28d7);
    color: #fff;
}

.insightspart{
    margin: 50px;
}

.readbtn{
    color: #fff;
    background-color: transparent;
   border: none;
}
.readbtn:hover{
    text-decoration: underline;
}
@media (max-width:768px){
    .insightspart{
        margin: 0px;
    }   
}


  